.vscode/

# source files
appcache/
bin/
/config/
depotcache/
logs/
platform/
sourceengine/
steamapps/
steam_cache/
userdata/
steam_appid.txt
ThirdPartyLegalNotices.txt


# garrysmod files
garrysmod/backgrounds/
garrysmod/bin/
garrysmod/cfg/
garrysmod/cache/
garrysmod/cfg/
garrysmod/data/
garrysmod/download/
garrysmod/downloadlists/
garrysmod/lua/
garrysmod/maps/
garrysmod/particles/
garrysmod/resource/
garrysmod/scenes/
garrysmod/settings/
garrysmod/clientside_errors.txt
garrysmod/gameinfo.txt

# addons
garrysmod/addons/ulx
garrysmod/addons/ulib

# gamemodes
garrysmod/gamemodes/base/
garrysmod/gamemodes/DarkRP/
garrysmod/gamemodes/sandbox/
garrysmod/gamemodes/terrortown/

# other files
*.exe
*.bat
*.dll
*.vbsp
*.vpk
*.rad
*.cache
*.db
*.inf
*.ver
